body {
  background-color: #faf9f6;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #262a2c;
  height: 5rem;
}

nav li {
  display: inline-block;
  height: 100%;
  width: 20%;
  font-size: 2rem;
  margin-top: 1.4rem;
}

a {
  text-decoration: none;
  margin: 2rem;
}

a:link {
  color: #faf9f6;
}

a:visited {
  color: #ffe5b4;
}

a:hover {
  color: #fffdd0;
}

a:active {
  color: #fff5ee;
}

h1 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: #191970;
}

h2 {
  font-family: URW Chancery L, cursive;
  font-size: 2.3rem;
  margin: 1rem;
  text-align: center;
  color: #faf9f6;
}

header img {
  display: block;
  height: auto;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

section {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5rem;
}

article {
  flex: 1;
}

.promotion {
  background-image: url("blackwhite.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.promotext p {
  font-size: 1.5rem;
  line-height: 150%;
  margin-left: 1rem;
  color: #191970;
}

.categories {
  background-color: #353935;
  border-radius: 5%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.categories > img {
  height: 50%;
  width: 100%;
}

.categories > p {
  color: white;
  margin: 2rem 1rem;
  line-height: 200%;
  font-size: 1.2rem;
  text-indent: 5%;
  text-align: justify;
}

.categories a > p {
  margin-right: 2rem;
  color: white;
  font-size: 1.3rem;
  text-align: right;
}

.categories > p::first-letter {
  font-size: 2.5rem;
}

footer {
  display: flex;
  margin-top: 3rem;
}

footer div {
  flex: 1;
}

footer img {
  height: auto;
  width: 30%;
  margin-left: 2rem;
}

footer p {
  font-size: 1rem;
  text-align: right;
  margin-right: 2rem;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

#story {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 150%;
}
